@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-6">
    <h2 class="display-4">Etapas:</h2>
    <p>Criar Modelo</p>
    <ul>
        <li>Criar Modelo</li>
        <li>Add Controller</li>
        <li>MVC Controller with views, using Entity Framework</li>
        <li>Escolher Model class</li>
        <li>Botão de + no Data context class</li>
        <li>Consertar Controller name</li>
        <li>Add!</li>
        <li>Abrir Package Manager Console</li>
        <li>add-migration name</li>
        <li>update-database</li>
    </ul>
</div>
<div class="col-md-6">
    <h2 class="display-4">Referências</h2>
    <p>Get started <a href="https://docs.microsoft.com/en-us/ef/core/get-started/?tabs=netcore-cli">with EF Core</a>.</p>
    <p>Tutorial: Get started <a href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-3.1">with EF Core in an ASP.NET MVC web app</a>.</p>
    <p>EntityFrameworkTutorial <a href="https://www.entityframeworktutorial.net/efcore/entity-framework-core-console-application.aspx">First EF Core Console Application</a>.</p>
</div>
<div class="col-md-6">
    <h2 class="display-4">Exemplos terminados em aula:</h2>
    <p>Rodrigo Araujo</p>
    <p>Samuel Belo</p>
    <p>Roberto Braga</p>
    <p>Guilherme Nascimento</p>
    <p>Venícius Setubal</p>
    <p>Wander Campelo</p>
    <p>Leandro</p>

    <h2 class="display-4">Não conseguiu terminar a tempo:</h2>
    <p>Guilherme Saraiva</p>
    <p>Rafael Reis</p>

    <h2 class="display-4">Avisou que não conseguiu fazer:</h2>
    <p>Guilherme Nigri - sem computador</p>
    <p>Mariana - saiu mais cedo, problema de internet</p>
</div>
