@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Get started <a href="https://docs.microsoft.com/en-us/ef/core/get-started/?tabs=netcore-cli">with EF Core</a>.</p>
        <p>Tutorial: Get started <a href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-3.1">with EF Core in an ASP.NET MVC web app</a>.</p>
        <p>EntityFrameworkTutorial <a href="https://www.entityframeworktutorial.net/efcore/entity-framework-core-console-application.aspx">First EF Core Console Application</a>.</p>
    </div>
