@{
    ViewData["Title"] = "Home Page";
}

<h2>Arquitetura em camadas customizada</h2>
<img src="images/ArquiteturaEmCamadasDesenhada.png" alt="Diagrama em camadas desenhado" />
<h2>Arquitetura em camadas padrão</h2>
<img src="images/DiagramaDeClasseArquitetura.png" alt="Diagrama em camadas padrão" />

<div class="col-md-6">
    <h2 class="display-4">Referências</h2>
    <p>Get started <a href="https://docs.microsoft.com/en-us/ef/core/get-started/?tabs=netcore-cli">with EF Core</a>.</p>
    <p>Tutorial: Get started <a href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-3.1">with EF Core in an ASP.NET MVC web app</a>.</p>
    <p>EntityFrameworkTutorial <a href="https://www.entityframeworktutorial.net/efcore/entity-framework-core-console-application.aspx">First EF Core Console Application</a>.</p>
</div>
